.home-slider-heading-icon{
    color: rgb(247, 43, 87);
    height: max-content;
    margin-right: 10px;
    width: 25px;
}
*{
    /* border: 1px solid white; */
}
.next-arrow-slick{
    color: rgb(255, 3, 37);
    display: block;
    position: absolute;
    right: -25px;
    top: 50%;
    cursor: pointer;
}
.slick-arrow-icon-right{
    height: 25px;
    width: 25px;
}
.prev-arrow-slick{
    color: rgb(255, 3, 37);
    display: block;
    position: absolute;
    left: -25px;
    top: 50%;
    cursor: pointer;
}
.slick-arrow-icon-left{
    height: 25px;
    width: 25px;
    transform: rotate(-180deg)

}