@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap");

.navbar-container {
  /* background-color: rgba(73, 69, 69, 0.308); */
  margin: 0;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  padding: 30px;
  justify-content: flex-end;

  position: relative;
  z-index: 2;
  /* top: 0;
    left: 0;
    right:0; */
  animation: 1s slide-down-navbar ease-out;
  /* background:linear-gradient(to right,transparent,rgba(143, 50, 60, 0.233)) ; */
  /* box-shadow: 0 8px 32px 0 rgba(49, 39, 40, 0.25); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* border-radius: 10px; */
  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}
@keyframes slide-down-navbar {
  0% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(0);
  }
}

.search-input-container {
  margin-right: auto;
  width: 100%;
  display: flex;
}
.search-input-field {
  padding: 7px 25px;
  font-family: "Poppins", sans-serif;
  width: 60%;
  border: none;
  outline: none;
  background-color: rgba(56, 25, 29, 0.459);
  /* border-radius:20px; */
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  /* accent-color: rgb(247, 43, 87); */
}
.logo-text-navbar {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 700;
  margin: 0;
  margin-right: auto;
  letter-spacing: 5px;
  padding: 0;
  display: flex;
  align-items: baseline;
  display: none;
}
.search-input-btn {
  padding: 7px;
  width: 45px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(56, 25, 29, 0.459);
  color: rgb(247, 43, 87);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}
.search-icon-btn {
  height: 17px;
  width: 17px;
}
.nav-md-search-unlock-btn {
  display: none;
  cursor: pointer;
  margin-inline: 10px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-family: "Orbitron", sans-serif;
  margin: 0 20px;
  position: relative;
}
.nav-link:hover {
  color: rgb(247, 43, 87);
}
.notifications-container {
  position: absolute;
  top: 30px;
  right: 25px;
  background-color: rgba(0, 0, 0, 0.699);
  color: white;
  transform: scale(0);
  /* transform: rotate3d(0, 1, 0, 90deg); */
  transition: 0.3s all ease-out;
  transform-origin: top right;
  border: 1px solid rgba(247, 43, 87, 0.555);
  border-radius: 7px;
  opacity: 0;
}
.notifications-container h6 {
  font-family: "Oswald", sans-serif;

  font-size: 11px;
  color: rgba(202, 102, 127, 0.61);
  margin: 3px 7px;
  margin-bottom: 1px;
  letter-spacing: 1px;
}
.notifications-container hr {
  border: 1px solid rgba(175, 35, 70, 0.322);
  margin: 0 5px;
  margin-bottom: 5px;
}
.notification-item {
  display: flex;
  padding: 7px;
  text-decoration: none;
  color: white;
}
.notification-item:hover {
  background-color: rgba(51, 51, 51, 0.507);
  border-radius: 4px;
  cursor: pointer;
}
.notification-item-text {
  font-family: "Oswald", sans-serif;
  margin-left: 10px;
  width: 180px;
  padding-right: 40px;
  position: relative;
}
.notification-item-text h3 {
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: clip;
  width: 100%;
  overflow: hidden;
}
.notification-item-text p {
  font-size: 10px;
  font-weight: 300;
  text-overflow: ellipsis;
  max-height: px;
  overflow: hidden;

  white-space: nowrap;
}
.notification-item-text span {
  font-size: 7px;
  font-weight: 300;
  position: absolute;
  right: 5px;
  top: 2px;
  padding: 3px 4px;
  animation: blink 0.5s ease alternate-reverse infinite;
  border-radius: 2px;
}
@keyframes blink {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(247, 43, 87, 0.555);
  }
}
/* .notifications-container div {
  position: relative;
  z-index: 100;
} */
.expand-notifications {
  transform: scale(1);
  opacity: 1;
  /* transform: rotate3d(0, 1, 0, 0deg); */
}
.navbar-icon-wrapper-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  position: relative;
  /* color: rgb(248, 9, 69); */
  /* border: none; */
  outline: none;
}
.notifications-count {
  position: absolute;
  top: 15px;
  right: 0px;
  font-size: 9px;
  width: 19px;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 50%;
  background-color: rgb(247, 43, 87);
  color: black;
  font-family: "Orbitron", sans-serif;
  /* letter-spacing: 1px; */
}
/* .logout-btn {
  color: rgb(247, 43, 87);
  border: 1px solid rgb(247, 43, 87);
  padding: 10px 20px;
  background-color: transparent;
  font-family: "Orbitron", sans-serif;
  border-radius: 7px;
} */
.profile-icon {
  width: 30px;
  height: 30px;
  color: rgb(247, 43, 87);
  cursor: pointer;
}

.popup-box-user {
  background-color: rgba(0, 0, 0, 0.753);
  border: 1px solid rgb(253, 3, 78);
  animation: popup-animation 0.3s ease-out;
  width: max(350px, 60%);
  min-height: 200px;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 25px;
  position: relative;
}
.user-profile-close-btn {
  border: none;
  outline: none !important;
  background-color: transparent;
  color: rgb(253, 3, 78);
  position: absolute;
  top: 15px;
  right: 15px;
}
.user-profile-close-btn-icon {
  height: 18px;
  width: 18px;
}
.profile-image-user {
  border-radius: 50%;
}
.profile-form {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-color: aliceblue; */
}
.profile-form-item {
  width: 45%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  /* border: 1px solid yellow; */
}
.profile-form-item label {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: rgb(180, 53, 74);
  font-size: 13px;
  /* margin-left: 1px; */
}
.profile-form-item input {
  width: 90%;
  padding: 7px 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgb(241, 171, 189);
  background-color: rgb(22, 20, 20);
  caret-color: rgb(180, 53, 74);
  transition: 0.3s all ease;
  outline: none;
  /* border: .1px solid #f8024c; */
  border: 1px solid transparent;
  border-radius: 4px;
}
.profile-form-item input:focus {
  border: 1px solid rgba(253, 3, 78, 0.829);
}
* {
  /* border: 1px solid white; */
}
@media screen and (max-width: 800px) {
  .navbar-container {
    padding: 15px;
    position: relative;
  }
  .search-input-container {
    display: none;
  }
  .search-input-container input::-webkit-search-cancel-button {
    display: none;
  }
  .slide-down-searchbar {
    display: flex;
    margin-block: 12px;
    /* position: absolute;
    top: 100px; */
  }
  .nav-md-search-unlock-btn {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    color: rgb(248, 9, 69);
    border: none;
  }
  .nav-md-search-unlock-btn-icon {
    height: 22px;
    width: 22px;
    padding-top: 3px;
  }

  .logo-text-navbar {
    display: block;
    /* margin: 0; */
  }
  .hide-nav-logo {
    display: none;
  }
  .nav-link {
    margin: 0 2px;
  }
  .profile-icon {
    width: 22px;
    height: 22px;
    margin-inline: 10px;
  }
}
